@charset 'utf-8';
@import './skin.scss';

.account-cash{
    display: flex;
    display: -webkit-flex;
    height: 100%;
    &-left{
        width: 400px;
        background: $bg_card;
        float: left;
        height: 100%;
        margin-right: 8px;
    }
    &-right{
        float: left;
        width: calc(100% - 408px);
        height: 100%;
        background: $bg_card;
        .executor-top{
            height: 40px;
            .account-executors{
                float: right;
                height: 40px;
                line-height: 40px;
            }
        }
        .executor-content{
            position: relative;
        }
    }
}