@charset 'utf-8';

$bg: #0C0F1C;
$bg_dark: #101425;
$bg_card: #161B2E;
$bg_light: #2C3450;
$bg_light2: #2C345099;
$tab_header: #222a46;
$input_bg: #424C6E;
$icon: #7580A5;
$disabled: #3E4251;
$title: #b9c8ff;

$font: #7D89B8;
$font_1: #c7cce6;
$font_2: #333333;
$font_3: #A3AAC6;
$font_4: #cccccc;
$font_5: #C3C8E2;
$font_6: #a6b1dc;


$login-bg: #161B2E;
$login-input: rgb(95, 80, 80);


$red: #d65453;
$red1: #ff3636;
$green: #17b07f;
$green2: #17b07f;

$blue: #3384FF;
$orange: #ff7600;
$gray: #a0a0a0;
$grey: #a0a0a0;
$white: #fff;
$error: #d65453;

$vi: #FAAD14;
$main_1: #FFFBE6;
$main_2: #FFF1B8;
$main_3: #FFE58F;
$main_4: #FFD666;
$main_5: #FFC63C;
$main_6: #FBAD13;
$main_7: #D48709;
$main_8: #AD6701;
$main_9: #874D02;
$main_10: #613402; 



$tabHeight: 36px;

