{
  "md":
  {
    "ctp":
    {
      "FrontUri": "tcp://180.168.212.228:41213",
      "UserId": "YOUR_USER_ID",
      "BrokerId": "YOUR_BROKER_ID",
      "Password": "YOUR_PASSWORD"
    },
    "xtp":
    {
      "Ip": "120.27.164.138",
      "Port": 6016,
      "UserId": "YOUR_USER_ID",
      "Password": "YOUR_PASSWORD",
      "ClientId": 1,
      "UdpBufferSize": 0,
      "GatewayLogLevel": "DEBUG",
      "DumpStatic": false
    }
  },
  "td":
  {
    "ctp":
    {
      "FrontUri": "tcp://180.168.146.187:10000",
      "NeedAuth": false,
      "NeedSettleConfirm": true,
      "accounts":
      [
        {
          "info":
          {
            "UserId": "YOUR_USER_ID",
            "InvestorId": "YOUR_INVESTOR_ID",
            "BrokerId": "YOUR_BROKER_ID",
            "Password": "YOUR_PASSWORD"
          },
          "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
          "is_default": true
        }
      ],
      "FeeSetup":
      {
        "stock":
        {
          "type": "amount",
          "fee_multi": 0.0003,
          "ctr_multi": 1,
          "min_fee": 0
        },
        "future":
        {
          "type": "amount",
          "fee_multi": [0.000023, 0.00069, 0.000023],
          "ctr_multi": 200,
          "min_fee": 0
        },
        "future_exotic":
        {
          "rb":
          {
            "type": "amount",
            "fee_multi": 0.0001,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "rb1801":
          {
            "type": "amount",
            "fee_multi": [0.0001, 0.0005, 0.0001],
            "ctr_multi": 10,
            "min_fee": 0
          },
          "c":
          {
            "type": "volume",
            "fee_multi": 1.2,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "c1803":
          {
            "type": "volume",
            "fee_multi": 0.2,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "ic":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          }
        }
      }
    },
    "xtp":
    {
        "Key": "YOUR_XTP_GATEWAY_KEY",
        "Ip": "120.27.164.69",
        "Port": 6001,
        "ClientId": 1,
        "accounts":
        [
          {
            "info":
            {
              "UserId": "YOUR_USER_ID",
              "Password": "YOUR_PASSWORD"
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    }
  }
}
