# OS files
.DS_Store
*.log

# IDE related
*.VC.*
*.sln
*.vcxproj*
Debug/
.vs/
.vscode/
.idea/
.arcconfig
*.flow

# CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-debug/
build/
build-*/

# Node related
yarn.lock
package-lock.json
.project
dist/
node_modules/
*/node_modules/
*/dist/
*/lib
*/inquirer-path/lib/*
*/inquirer-path/lib
*/inquirer-path/node_modules/*
*/_version.py
*/inquirer-path/yarn.lock

# Python related
Pipfile.lock
MANIFEST
.installed.cfg
__pycache__/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.pyc
*.egg-info/
*.egg
