{
  "passPerPreset": true,
  "presets": [
    {
      "passPerPreset": false,
      "presets": [ "es2015", "stage-0", "flow" ]
    }
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
