# SPDX-License-Identifier: Apache-2.0
# Use pipenv to make a virtualenv and ensure python version.
# Then let poetry to manage the other dependencies.

[packages]
poetry = "==1.2.2"
pip = "==23.0"
setuptools = "==67.2.0"
virtualenv = "==20.19.0"
wheel = "==0.38.4"
