{
  "presets": [
    ["env", {
      "targets": { "node": 10 }
    }],
    "stage-0"
  ],
  "comments": false,
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  },
  "plugins": [
    "transform-runtime"
  ]
}
