[packages]
conan = "==1.31"
pywin32 = {version = "==227",sys_platform = "== 'win32'"}
pyinstaller = "==4.1"
click = "==7.1.1"
tabulate = "==0.8.6"
prompt_toolkit = "==1.0.14"
PyInquirer = "==1.0.3"
psutil = "==5.8.0"
chinesecalendar = "==1.5.0"
zhdate = "==0.1"
schema = "==0.7.1"
rx = "==3.0.1"
numpy = "==1.18.5"
pandas = "==1.0.3"
statsmodels = "==0.11.1"
sortedcontainers = "==2.1.0"
recordclass = "==0.14.3"
dotted_dict = "==1.1.2"
plotly = "==4.0.0"
wcwidth = "==0.2.2"
PyYAML = "==5.3.1"
