[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
pywin32 = {version = "==227",sys_platform = "== 'win32'"}
pyinstaller = "==3.6"
sqlalchemy = "==1.3.8"
psutil = "==5.7.0"
numpy = "==1.16.4"
pandas = "==0.24.2"
statsmodels = "==0.10.1"
pyarrow = "==0.14.0"
tabulate = "==0.8.3"
click = "==7.0"
PyInquirer = "==1.0.3"
prompt_toolkit = "==1.0.14"
tushare = "==1.2.39"
plotly = "==4.0.0"
sortedcontainers = "==2.1.0"
recordclass = "==0.12.0.1"
dotted_dict = "==1.1.2"
schema="==0.7.1"
rx = "==3.0.1"
wcwidth = "==0.2.2"


[dev-packages]
pytest = "*"
mock ="*"