{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": "usage",
          "modules": false,
          "corejs": "3.3.5",
          "targets": { "node": 10 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": "usage",
          "modules": false,
          "corejs": "3.3.5"
        }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
     // Stage 2
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions"
  ]
}