{
  "comments": false,
  "env": {
  
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 10 }
        }],
        "stage-0",
        ["es2015", {"modules": false}],
        "stage-2"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0",
        ["es2015", {"modules": false}],
        "stage-2"
      ]
    }

  },
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
