.kf-translateZ {
    position: relative;
    transform: translateZ(0);
}

.kf-table-actions__warp {
    .anticon {
        margin-left: 16px;

        &:hover {
            color: @primary-color;
            cursor: pointer;
        }
    }
}
