.kf-translateZ {
    position: relative;
    transform: translateZ(0);
}

.kf-actions__warp {
    .anticon {
        margin-left: 16px;

        &:hover {
            color: @primary-color;
            cursor: pointer;
        }
    }
}

.kf-table {
    height: 100%;
    width: 100%;
}

.kf-hover {
    color: @primary-color;
    cursor: pointer;
}
